<!DOCTYPE html>
<html lang = "en">
    <head>
        <meta charset="UTF-8">
        <title>Lab 5</title>
        <link rel="stylesheet" href="../static/style.css">
        <h1>This is navigator page</h1>
    </head>
    <body>
        <p>Still pretty boring, huh?</p>
        <p> NO! it is very ibinchnteresting</p>
        <button class = "button" onclick="location.href='webpagetwo.html'">BUTTON</button>
        <button class = "button" onclick="location.href='toNorse.html'">BUT 0 0 0 0 0 0              ON</button>

        <p> <b> To be or not to be </b></p>
        <p> for they did speak- but not the tough that did nature thus require</p>
        <src> </src>
    </body>
</html>