<!DOCTYPE html>
<html lang = "en">
    <head>
        <meta charset="UTF-8">
        <title>Consitution</title>
        <link rel="stylesheet" href="../static/style.css">
        <h1>Consider</h1>
    </head>
    <body style="background-color: blanchedalmond; font-family: Papyrus, cursive, fantasy;">
        <p>Leaving are we?</p>
        <p> Nay, ye stay, pray tell you not click back</p>
        <button class = "button" popovertarget="myPopup">BUTTON</button>
        <button class = "button" onclick="location.href='https://www.archives.gov/founding-docs/constitution-transcript'">But only one place to go?!            ON</button>

        <div id="myPopup" popover="auto">
            <h2>One cannont conquor death</h2>
            <p>...but may delay it? :( :__)</p>
            <button popovertarget="myPopup" popovertargetaction="hide">Close</button>
        </div>

        <p> <b> To be or not to be </b></p>
        <img src="../static/images/Constitution.jpg" alt="C"> 
    </body>
</html>